<!-- <footer class="footer bg-dark py-3 mt-auto">
    <div class="container">
        <span class="text-muted"> &copy; YelpCamp 2022</span>
        <span class="text-muted">Developed By: </span>
    </div>
</footer> -->
<style>
  @media screen and (max-width:500px){
    #name{
      margin-left: 40px;
    }
    #copy{
      margin-left: 40px;
    }
    #ul{
      margin-left: 27px;
    }
  }
</style>
<div id="footer" class="container text-center">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
      <div class="col-md-4 d-flex align-items-center">
        <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
          <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"/></svg>
        </a>
        <span class="text-muted" id="copy">&copy; 2022 YelpCamp, Inc</span>
      </div>
  
      <ul class="nav col-md-4 justify-content-end list-unstyled d-flex text-center" id="ul">
        <li class="ms-3"><a id="name" class="text-muted" href="#">Harshal Ranjhani</a></li>
        <li class="ms-3"><a class="text-muted" target="_blank" href="https://github.com/harshalranjhani"><i class="fa-brands fa-github"></i></a></li>
        <li class="ms-3"><a class="text-muted" target="_blank" href="https://www.linkedin.com/in/harshal-ranjhani/"><i class="fa-brands fa-linkedin"></i></a></li>
      </ul>
    </footer>
  </div>