<% layout('layouts/boilerplate')%>
<div class="row">
    <div class="col-md-12">
        <form action="/forgot-password" method="post">
            <legend>Forgot password</legend>
            <p><em><small>Dont worry we got you covered!</small></em></p>
            <div class="form-group mt-3">
                <label for="email" style="margin-bottom: 15px;">Enter your registered email</label>
                <input placeholder="name@example.com" type="email" name="email" id="email" autofocus class="form-control">
            </div>
            <div class="form-group">
                <button class="btn btn-success mt-3">Submit</button>
            </div>
        </form>
    </div>
</div>